<div class="container">
  <app-first [title]="'Hello this first alert which is info'" [type]="'info'"></app-first>
  <app-first [title]="'This is primary alert'" [type]="'primary'"></app-first>
  <app-first [title]="'This is secondary alert'" [type]="'secondary'"></app-first>
  <app-first [title]="'This is success alert'" [type]="'success'"></app-first>
  <app-first [title]="'This is danger alert'" [type]="'danger'"></app-first>
  <app-first [title]="'This is warning alert'" [type]="'warning'"></app-first>
</div>