<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>clicked title is {{ev?.titlei}}</p>
      <p>clicked type is {{ev?.typei}}</p>
    </div>
  </div>
  <app-first [title]="'This is primary alert'" [type]="'primary'" (btnclk)="clk($event)"></app-first>
  <app-first [title]="'This is success alert'" [type]="'success'" (btnclk)="clk($event)"></app-first>
  <app-first [title]="'This is danger alert'" [type]="'danger'" (btnclk)="clk($event)"></app-first>
  <app-first [title]="'This is warning alert'" [type]="'warning'" (btnclk)="clk($event)"></app-first>
  <app-first [title]="'This is secondary alert'" [type]="'secondary'" (btnclk)="clk($event)"></app-first>
  <app-first [title]="'This is info alert'" [type]="'info'" (btnclk)="clk($event)"></app-first>
</div>